<header>
<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">

  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  <a class="camera-Icon" href="#">
    <img src="../styles/img/camera-icon.png">
  </a>

  </form>
    <a class="profile-Icon" href="#">
      <img src="../styles/img/profile-icon.png">
    </a>
</nav>
</header>

<div class="typewriter">
  <br><br><br>
  <h1>WELCOME TO X-PZR...PLEASE SIGN IN</p>
  </h1>
</div>
<br><br><br><br>
<form id="userForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">for returning users</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  {{!-- <a class="link" href="signup.html"><u>new user sign-up</u></a> --}}
  <a class="link" href="/signup"><u>New user sign-up</u></a>
  <br><br><br>
  <button type="submit" class="button">submit</button>
</form>


