<div id="product-name">

</div>

<div id="img">
  <p>IMG WILL BE HERE</p>
</div>

<table class="table table-hover table-dark" id="product-ingredient">
  <thead>
    <tr>
      <th>
        <h2>Ingredient</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr id="product-ingredient"></tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/query.js" type="text/javascript"></script>