<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">

  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  <a class="camera-Icon" href="#">
    <img src="../styles/img/camera-icon.png">
  </a>

  </form>
    <a class="profile-Icon" href="#">
      <img src="../styles/img/profile-icon.png">
    </a>
</nav>

<div id="productTitle">
  <h1>PRODUCT</h1>
</div>

<div id="img">
  <p>IMG WILL BE HERE</p>
</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th><h2>Ingredient</h2></th>
    </tr>
  </thead>
  <tbody>

  <tr>
    <td>Sugar</td>
  </tr>

  <tr>
    <td>Spice</td>
  </tr>

  <tr>
    <td>and Everything Nice</td>
  </tr>

  </tbody>
</table>