<header>
<nav class="navbar navbar-light bg-dark">
  <form class="form-inline">

  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  <a class="camera-Icon" href="#">
    <img src="../styles/img/camera-icon.png">
  </a>

  </form>
    <a class="profile-Icon" href="#">
      <img src="../styles/img/profile-icon.png">
    </a>
</nav>
</header>


<div class="typewriter">
  <br><br><br>
  <h1>PLEASE CREATE YOUR X-PZR PROFILE</p>
  </h1>
</div>
<br>
<form id="userForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="fullName" aria-describedby="emailHelp" placeholder="enter full name">
    <small id="nameHelp" class="form-text text-muted">*required</small>
  </div>
  <div class="form-group">
    <label for="userName">User-Name</label>
    <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="enter a user-name">
    <small id="userNameHelp" class="form-text text-muted">*required</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="enter email">
    <small id="emailHelp" class="form-text text-muted">*required</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="password">
    <small id="passwordHelp" class="form-text text-muted">*required</small>
  </div>
  <br>
  <button type="submit" class="button" id="submitBtn">Submit</button>
</form>

<script type="text/javascript" src="./js/index.js"></script>